@CHARSET "UTF-8";

body {
	margin: 0;
	padding: 0;
	background-color: #e5e5e5;
	color: #000;
	font-family: "Trebuchet MS", Tahoma, Arial, Verdana;
	font-size: 12px;
}

#main-page {
	margin: 1em auto;
	width: 80%;
	background: #fff;
}

#header {
	color: #cc6600;
	background-color: #4d4d4d;
	border-style: solid;
	border-width: thin;
	margin: 0px 2px 2px 2px;
	height: 90px;
}

#messages {
	color: #cc6600;
	background-color: #cece9e;
	border-style: solid;
	border-width: thin;
	margin: -12px 2px 2px 2px;
	height: 70px;
}

#navmenu {
	float: right;
	display: inline;
	color: #cc6600;
	background-color: #b9d6df;
	border-style: solid;
	border-width: thin;
	margin: 0px 2px 2px 1px;
	width: 21.3%;
}

#container {
	float: left;
	display: inline;
	width: 78%;
	height: 590px;
	color: #cc6600;
	background-color: #b9d6df;
	border-style: solid;
	border-width: thin;
	margin: 0 2px 2px 1px;
}

#footer {
	clear: both;
	color: #cc6600;
	background-color: #cece9e;
	border-style: solid;
	border-width: thin;
}

.logo {
	height: 75px;
	padding: 2px;
	border: 1px solid #9FA41D;
	margin: 0 0 1px 1px;
	float: left;
	}